* {
    font-family: "URW Gothic L", sans-serif;
}

h1 {
    text-align: center;
    margin-bottom: 25px;
}

button {
    justify-self: center;
    width: -webkit-fill-available;
    padding: 5px;
    margin: 15px;
}

button:hover {
    cursor: pointer;
}

input[type=text], input[type=mail] {
    margin: 10px;
}

textarea {
    margin: 10px;
    resize: none;
    height: 10em;
}

.hidden {
    display: none !important;
}

.container {
    margin: 0 10em;
}

.modalExitCross {
    margin: 0;
    padding: 0;
    float: right;
    position: relative;
    color: firebrick;
    cursor: pointer;
}

.modalExitCross:hover {
    color: maroon;
}

.modalBackground {
    display: flex;
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    background-color: rgba(0,0,0,.5);
    backdrop-filter: blur(5px);
}

.modalContainer {
    margin: auto;
    padding: 10px;
    width: 25%;
    height: auto;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 0 100px rgba(0,0,0,.6);
}

.modalTitle {
    text-align: center;
}

.modalContent {
    padding: 15px;
    text-align: center;
    border: solid 1px;
}

.modalOkButton {
    font-weight: bold;
    width: 50%;
    margin-left: 50%;
    transform: translate(-50%, 0);
}

.contactFormContainer {
    display: grid;
    justify-content: center;
    border: solid 1px;
}

.buttonsContainer, .contactFormNameSurnameContainer {
    display: flex;
    justify-content: center;
}